dbURI: "mongodb://open5gs-core-mongodb/open5gs"

# --- 1. POPULATE ---
populate:
  enabled: true
  image:
    registry: docker.io
    repository: gradiant/open5gs-dbctl
    tag: 0.10.3
    pullPolicy: IfNotPresent
  initCommands: []

# Configuración MongoDB con Bitnami Legacy
mongodb:
  enabled: true
  auth:
    enabled: false
  
  # Usamos el repositorio Legacy que sí tiene la imagen 4.4
  image:
    registry: docker.io
    repository: bitnamilegacy/mongodb
    tag: "4.4.9"
    pullPolicy: IfNotPresent

# --- ACTIVAMOS PERSISTENCIA ---
  persistence:
    enabled: true                # <--- SÍ
    storageClass: "local-path"   # <--- La magia de K3s (usa tu disco duro local)
    size: 2Gi                    # 2GB sobran para millones de usuarios
    accessModes:
      - ReadWriteOnce

  # --- EL TRUCO MAESTRO: Desactivar los chequeos ---
  # Esto evita que Kubernetes reinicie el pod si los scripts de salud fallan
  livenessProbe:
    enabled: false
  readinessProbe:
    enabled: false
  startupProbe:
    enabled: false

# --- 3. Plano de Control 5G ---
amf:
  enabled: true
ausf:
  enabled: true
bsf:
  enabled: true
nrf:
  enabled: true
nssf:
  enabled: true
pcf:
  enabled: true
  mongodb:
    enabled: false
scp:
  enabled: true
  mongodb:
    enabled: false
udm:
  enabled: true
udr:
  enabled: true

# --- 4. Plano de Usuario ---
upf:
  enabled: true
  ip_forwarding: true

# --- 5. SMF & PCRF ---
smf:
  enabled: true
  config:
    pcrf:
      enabled: true 
pcrf:
  enabled: true

# --- 6. Legacy 4G (Apagado) ---
hss:
  enabled: false
mme:
  enabled: false
sgwc:
  enabled: false
sgwu:
  enabled: false

# --- 7. WebUI ---
webui:
  enabled: true

global:
  image:
    pullPolicy: IfNotPresent
